.creator {
    width: 100%;
}

.creator__bg {
    width: 100%;
    padding-top: 25%;
    background-size: contain;
}

.creator__profile {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: -50px;
}

.creator__profile > .MuiAvatar-root {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.creator__profile > h3 {
    margin-left: auto;
    margin-right: auto;
}

.app__logo {
    width: 100%;
    display: grid;
    place-items: center;
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app__logo {
        animation: app__logo__spin infinite 20s linear;
    }
}

@keyframes app__logo__spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
