.header {
    position: sticky;
    top: 0;
    background-color: lightskyblue;
    border-bottom: 1px solid black;
    height: 40px;
}

.header__icons {
    height: 100%;
    display: flex;
    justify-content: space-between;
    place-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.header__icons > h1 {
    font-weight: 800;
}
