.post {
    margin-bottom: 50px;
    display: grid;
    place-items: center;
}

.post > img {
    margin-top: 5px;
    max-width: 400px;
    object-fit: contain;
}

.post > h1 {
    font-weight: 500;
}

.post > h3 {
    font-weight: 300;
}
