.registerpage {
    width: 100%;
}

.registerpage > h2 {
    margin-top: 20px;
    text-align: center;
    font-weight: 300;
}

.registerpage__input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.registerpage__input > .MuiInputBase-root {
    color: red;
}
